// COLORS
$primary-color: #00C6C4;
$secondary-color: #319795;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;
$gray-color: #BABAC1;
$dark-gray-color: rgb(151, 151, 151);
$purple-color: #0a0911;
$light-purple-color: #1F1F32;
$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
